<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link th:replace="~{common::link}">
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div  class="container">
    <div th:if="${param.error}" class="layui-text layui-bg-red">
			用户名或密码不正确</div>
        <div class="row justify-content-center">
        						
            <div class="col-md-5">
            <form th:action="@{/root/login}" method="post">
            							<input th:if="${param.back}" hidden="" name="_closeAfter" value="en">
                <div class="card p-4">
                    <div class="card-header text-center text-uppercase h4 font-weight-light">
                        Login
                    </div>

                    <div class="card-body py-5">
                        <div class="form-group">
                            <label class="form-control-label">Email</label>
                            <input name="username" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Password</label>
                            <input name="password" type="password" class="form-control">
                        </div>

                        <div class="custom-control custom-checkbox mt-4">
                            <input name="remember-me" type="checkbox" class="custom-control-input" id="login">
                            <label class="custom-control-label" for="login">Remember-Me</label>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary px-5">Login</button>
                            </div>
																		<div class="col-6">
                            <div class="col-3">
                                <a href="#" class="btn btn-link">Forgot password?</a>
                            </div>
                             <div class="col-3">
                                <a th:href="@{/register}" class="btn btn-link">No account?</a>
                            </div>
                           </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<script th:replace="common::script"></script>
</body>
</html>
